<h1>Welcome</h1>
<p>This is the Angular Front to Back sandbox application</p>
<button class="btn btn-secondary" routerLink="/users">Users section</button>
<button class="btn btn-dark" routerLink="/posts">Posts section</button>
